$primary: #0A3D62;
$primary-accent: #3C9DFF;
$success: #2ECC71;
$warning: #F1C40F;
$critical: #E74C3C;
$graphite: #1E1E1E;
$dark-bg: #1E1E1E;
$gray: #2F2F2F;
$light-gray: #A5A5A5;
$snow-gray: #F5F6FA;
$ligth-blue: #74B9FF;
$datadog-orange: #F39C12;
$purple: #8E44AD;
$cyan: #81ECEC;
$aqua: #55EFC4;
$dark-card: $gray;
$dark-text: $snow-gray;
$dark-primary: $primary-accent;
$dark-danger: $critical;
$light-bg: $snow-gray;
$ligth-card: #fff;
$ligth-text: $primary;
$ligth-primary: $primary-accent;
$ligth-borders: #DCDDE1;
