spring:
  application:
    name: audit-hub

  datasource:
    url: jdbc:postgresql://localhost:5432/auditHubDB
    username: root
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
